$primary-color: #1d3557;
$secondary-color: #a8dadc;
$third-color: #457b9d;
$quote-color: #e63946;
$bg-color: #f1faee;

$small: "max-width: 576px";
$medium: "min-width: 768px";
$large: "min-width: 992px";
$XLarge: "min-width: 1200px";